Flask==2.0.1
Flask-RESTful==0.3.9
keras==2.6.0
tensorflow==2.6.0
laserembeddings==1.1.1
# pytorch cpu only to save resources wheel (GPU is useful during training)
https://download.pytorch.org/whl/cpu/torch-1.10.0%2Bcpu-cp38-cp38-linux_x86_64.whl
