# Python
.pytest_cache
**/__pycache__
*.pyc
*.egg-info

# Config
*.env

# Development
nbs/*
!nbs/README.md
*.ipynb_checkpoints

# Tasks
**/build
**/dist

# Annotators
**/models
**/tmp_trainer
**/instance

# Airflow
airflow/logs

# Data
data/*
!data/README.md
!data/**/
data/imports/*
data/exports/*

# Temp files
tools/places/temp/*
!tools/places/temp/.gitkeep

# sys
.Trash*

