{% extends 'base.html' %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Upload a zipfile</h3>
    </div>
    <div class="panel-body">
        <form id="uploadForm" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                <input type="file" name="file" id="file" class="form-control" required />
            </div>
            <div class="form-group" align="center">
                <input id="uploadButton" type="submit" class="btn btn-info" value="Upload" />
            </div>
        </form>
        <div class="form-group" id="process" style="display:none;">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active bg-success" id="progressBar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style=""></div>
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function() {

    // take over control after button hit
	$('form').on('submit', function(event) {
        // prevent any default form handling
        event.preventDefault();
        // create form object
		var formData = new FormData();
        var inputFile = $('[type=file]')[0].files[0];
        formData.append('file', inputFile);
        // handle file upload
        $.ajax({
			xhr : function() {
				var xhr = new window.XMLHttpRequest();
				// get file upload progress (called every 50 ms)
                xhr.upload.addEventListener('progress', function(e) {
					if (e.lengthComputable) {
						var percent = Math.round((e.loaded / e.total) * 100);
                        // update progress bar with file upload progress
						$('#progressBar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');
					}
				});
				return xhr;
			},
			type : 'POST',
			url : '/upload',
			data : formData,
			processData : false,
			contentType : false,
            enctype: 'multipart/form-data',
            beforeSend : function() {
                $('#process').css('display', 'block');
            },
			success : function(data) {
                console.log('successful zipfile upload');
			},
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.status + ': ' + errorThrown);
            },
            complete: function (data) {
                // hide progress bar
                $('#process').css('display', 'none');
                // reset form
                $('#uploadForm')[0].reset();
                window.location = '/uploads'
            },
		});

	});

})

</script>

{% endblock %}
